<script>
  function initMap() {
    var lat_min = {{=rec.latitude_minutes}} / 60;
    var lat_sec = {{=rec.latitude_seconds}} / 3600;
    var lng_min = {{=rec.longitude_minutes}} / 60;
    var lng_sec = {{=rec.longitude_seconds}} / 3600;

    var lat_spec = {{=rec.latitude_degrees}} + lat_min + lat_sec;
    var lng_spec = {{=rec.longitude_degrees}} + lng_min + lng_sec;
    {{if rec.north_south=='S':}}lat_spec = -1 * lat_spec;{{pass}}
    {{if rec.east_west=='W':}}lng_spec = -1 * lat_spec;{{pass}}
    var spec_coord = {lat: lat_spec, lng: lng_spec};
    var map = new google.maps.Map(document.getElementById('map_tab'), {
      zoom: 8,
      center: spec_coord,
      mapTypeId: 'hybrid', // enables satellite + place names
    });
    var marker = new google.maps.Marker({
      position: spec_coord,
      map: map
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_CQeaSCEOr_9JsVDYOijLvP-6mvFg_-A&callback=initMap">
</script>
