.chinamap {
  height: 60%;
  width: 40%;
}
.main_text {
  color: #191970;
  line-height: 2;
  letter-spacing: 0.5px;
}
.NSF_footer {
  color: #191970;
  border-style: solid;
}
#map {
  height: 400px;
  width: 100%;
}
