{{extend 'layout.html'}}

{{block stylesheets}}
  <link rel="stylesheet" href="{{=URL('static','css/custom_specimens.css')}}"/>
{{end}}

{{block breadcrumb}}
  <li class="breadcrumb-item ml-2"><a href="{{=URL('default','index')}}">Home</a></li>
  <li class="breadcrumb-item active">Specimens</li>
{{end}}

{{block page_title}}
  Specimens
{{end}}

{{block page_subtitle}}
  Access specimen records from the database
{{end}}

{{block page_content}}
  <p> enter tables of angiosperms, gynosperms, etc here</p>
  <p>
    <a href="{{=URL('specimens','search')}}">search/browse</a>
    -- <a href="{{=URL('specimens','cabinet')}}">cabinet</a>
  </p>
{{end}}
