{{extend 'layout.html'}}

{{block breadcrumb}}
  <li class="breadcrumb-item ml-2"><a href="{{=URL('default','index')}}">Home</a></li>
  <li class="breadcrumb-item active">Funding & Support</li>
{{end}}

{{block page_title}}
  Funding and support
{{end}}

{{block page_subtitle}}
  <p>Funding sources, participating and supporting institutions, supporting governmental organizations
  and individuals who have utilized or provided determinations for specimens are listed below. We are
  most grateful for the support we have received at all levels. We welcome requests for research materials
   and will be happy to provide specimens for expert identification or for study. To request specimens,
   please contact David E. Boufford <david_boufford@harvard.edu>; for silica gel material, please contact
   Rick Ree <rree@fieldmuseum.org>.</p>
{{end}}

{{block page_content}}
<p> Funding & Support</p>
{{end}}
