{{extend 'layout.html'}}

{{block stylesheets}}
  <link rel="stylesheet" href="{{=URL('static','css/custom_home.css')}}"/>
{{end}}

{{block breadcrumb}}
  <li class="breadcrumb-item ml-2"><a href="{{=URL('default','index')}}">Home</a></li>
  <li class="breadcrumb-item active">Localities</li>
{{end}}

{{block page_title}}
  Find collecting localities
{{end}}

{{block page_subtitle}}
  This search form enables you to find localities by specifying one or more search criteria.
{{end}}

{{block page_content}}
  {{=grid}}


{{end}}
